<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--在Spring配置文件添加 xmlns:p="http://www.springframework.org/schema/p" -->

    <bean id="dogBean" class="com.py.spring6.bean.Dog" p:name="小花" p:age="3" p:birth-ref="date2"/>
    <bean id="date2" class="java.util.Date"/>
</beans>